*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

@font-face {
  font-family: "Latin Modern Math";
  src: url("/latinmodern-math-1959/otf/latinmodern-math.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
