.ExplanationStep {
  margin: 2rem;

  figure {
    font-family: "Latin Modern Math", Georgia, serif;
    font-size: 24px;
    margin: 0 0 1rem;
    text-align: center;
  }

  .Actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 24px;
  }
}
